button {
	background: #b4f8c8;
	border-radius: 5px;

	padding: 6px;

	justify-content: center;
	align-items: center;
}

button:hover {
	background: #a4e8b8 0.05s;
}

button:active {
	background: #94d8a8;
}

button text {
	font-size: 24px;
	color: #444444;
	text-align: center;
	text-valign: center;
}
