slider {
	direction: horizontal;
	background-color: #f0f0f0;
	color: #ffaebc;
	border-radius: 0.25em;
	length: 5em;
	track-size: 0.5em;
	knob-size: 1.0em;
	knob-border-radius: 0.5em;

	cursor: pointer;
}

slider:hover {
	background-color: #e8e8e8;
}
