checkbox {
	color: #444444;
	background-color: #f8f8f8;
	border-radius: 5px;
	border-width: 1.5px;
	border-color: #b0b0b0;

	width: 24px;
	height: 24px;
}

checkbox:hover {
	border-color: #808080 0.05s;
}

checkbox:active {
	border-color: #808080 0.05s;
}
