* {
	padding: 6px;
	margin: 0px;
}

text {
	font-size: 16px;
	color: #444444;
}

div {

}

button {
	background: #b4f8c8;
	border-radius: 5px;
}

button:hover {
	background: #a4e8b8;
}

button:active {
	background: #94d8a8;
}

button text {
	font-size: 24px;
	color: #444444;
}
