text-input {
	color: #d8d8d8;
	font-size: 1.5em;

	padding: 6px;
	
	border-radius: 5px;
	border-width: 1px;
	border-color: #404040;
	placeholder-color: #b0b0b0;

	text-valign: center;

	cursor: text;
}

text-input:hover {
	border-color: #606060 0.05s;
}

text-input:focus {
	border-color: #606060 0.05s;
}
