div.widget-gallery {
	width: 100%;
	height: 100%;

	gap: 1em;

	direction: row;
	justify-content: center;
	align-items: center;
}

div.popup {
	align-items: stretch;
}

div.row {
	gap: 10px;

	direction: row;
	justify-content: center;
	align-items: center;
}

div.column {
	gap: 5px;

	direction: column;
	justify-content: center;
	align-items: stretch;
}

text-input.long-text {
	font-size: 1em;
	text-wrap: true;
	text-align: start;
	text-valign: start;

	border-width: none;
}
