text-input {
	color: #444444;
	font-family: "Noto Sans";
	font-size: 1.5em;

	padding: 6px;
	
	border-radius: 5px;
	border-width: 1px;
	border-color: #b0b0b0;
	placeholder-color: #d0d0d0;

	text-valign: center;

	cursor: text;
}

text-input:hover {
	border-color: #808080 0.05s;
}

text-input:focus {
	border-color: #808080 0.05s;
}
